################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15/sqlite3/storage.ide-wal
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15/sqlite3/storage.ide
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15/sqlite3/db.lock
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15/sqlite3
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15/Server/sqlite3/storage.ide-wal
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15/Server/sqlite3/storage.ide-shm
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15/Server/sqlite3/storage.ide
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15/Server/sqlite3/db.lock
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15/Server/sqlite3
/JBS.CNTK.SelfLearning01/packages
/JBS.CNTK.SelfLearning01/.vs/JBS.CNTK.SelfLearning01/v15
/JBS.CNTK.SelfLearning01/Tools.JBS.ChatBot.Batch/obj
/JBS.CNTK.SelfLearning01/JBS.ChatBot/obj
/JBS.CNTK.SelfLearning01/JBS.NaturalLanguage/bin/x64/Debug/dic/ipadic
/JBS.CNTK.SelfLearning01/JBS.NaturalLanguage/obj
